/*Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Main body style*/
body {
    font-family: 'Lato', sans-serif;
}

/*Page Title Style*/
#pgtitle {
    font-size: 4em;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 0.5em;
}

/*Footer Style*/
.footer {  
    position: absolute;
    bottom: 0;
    height: 8em;     
    width: auto;
    margin-left: 33%;
    margin-right: 33%;           
  }  
  
  .footer ul {    
    text-align: center;
  }
    
  .footer li {
    display: inline;  
   }
   
   .social-media i {
     color: black;
     font-size: 2.5em;
     padding: 1.2em;       
   }
   
 